<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
<!--    configure the console appender in Logback.xml-->
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            define the Log pattern in logback.xml file-->
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

<!--    configure the file appender in Logback.xml file-->
    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
        <File>/var/tmp/mylog.log</File>
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

<!--    configure the ROOT level log in Logback.xml file-->
    <root level = "INFO">
        <appender-ref ref = "FILE"/>
        <appender-ref ref = "STDOUT"/>
    </root>
</configuration>